{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="login-form-container">
        <h3 class="text-center">Вход</h3>
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}

            <div class="form-group">
                <label for="inputUsername">Имя пользователя</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
            </div>

            <div class="form-group">
                <label for="inputPassword">Пароль</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>

            <!-- Капча -->
            <div class="form-group">
                <div class="g-recaptcha" data-sitekey="{{ recaptcha_site_key }}" data-callback="enableLoginButton"></div>
            </div>

            <!-- Кнопка "Войти" с атрибутом disabled -->
            <button type="submit" id="loginButton" class="btn btn-primary btn-block" disabled>Войти</button>
        </form>
    </div>

    <!-- Подключение скрипта reCAPTCHA -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <!-- Скрипт для активации кнопки "Войти" после прохождения капчи -->
    <script>
        function enableLoginButton() {
            // Активируем кнопку "Войти"
            document.getElementById('loginButton').disabled = false;
        }
    </script>
{% endblock %}