{% extends 'base.html.twig' %}

{% block title %}Главная{% endblock %}

{% block body %}
        <div class="welcome-content">
            <h1 class="welcome-title">Добро пожаловать!</h1>
            <p class="welcome-subtitle">Это главная страница вашего проекта.</p>

        </div>
{% endblock %}