services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: symfony_app
    restart: unless-stopped
    working_dir: /var/php/symfony_project
    volumes:
      - .:/var/php/symfony_project
    ports:
      - "9000:9000"
    networks:
      - symfony_network
    environment:
      - DATABASE_URL=mysql://root:root@db:3306/symfony_project
      - MAILER_DSN=smtp://mailhog:1025 # Используем MailHog для тестирования

  webserver:
    image: nginx:stable-alpine
    container_name: symfony_webserver
    restart: unless-stopped
    ports:
      - "8082:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - .:/var/php/symfony_project
    networks:
      - symfony_network

  db:
    image: mysql:8.0
    container_name: symfony_db
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=symfony_project
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - symfony_network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: symfony_phpmyadmin
    restart: unless-stopped
    environment:
      - PMA_HOST=db
      - MYSQL_ROOT_PASSWORD=root
    ports:
      - "8083:80"
    networks:
      - symfony_network

  database:
    image: postgres:${POSTGRES_VERSION:-16}-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-app}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-!ChangeMe!}
      POSTGRES_USER: ${POSTGRES_USER:-app}
    healthcheck:
      test: ["CMD", "pg_isready", "-d", "${POSTGRES_DB:-app}", "-U", "${POSTGRES_USER:-app}"]
      timeout: 5s
      retries: 5
      start_period: 60s
    volumes:
      - database_data:/var/lib/postgresql/data:rw
    networks:
      - symfony_network

  mailhog:
    image: mailhog/mailhog
    container_name: symfony_mailhog
    restart: unless-stopped
    ports:
      - "8025:8025" # Веб-интерфейс MailHog
      - "1025:1025" # SMTP-сервер MailHog
    networks:
      - symfony_network

networks:
  symfony_network:
    driver: bridge

volumes:
  db_data:
  database_data: