{% extends 'base.html.twig' %}

{% block title %}Админ Панель{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="display-4 text-primary mb-4">Админ Панель</h1>
        <p>{{ message }}</p>
    </div>
{% endblock %}