{# templates/user/verify_2fa_code.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Verify 2FA Code{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Verify 2FA Code</h4>
                    </div>
                    <div class="card-body">
                        {# Отображение flash-сообщений #}
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}
                        {% for message in app.flashes('error') %}
                            <div class="alert alert-danger">
                                {{ message }}
                            </div>
                        {% endfor %}

                        <form method="post">
                            <div class="form-group">
                                <label for="code">Enter your 2FA code</label>
                                <input type="text" id="code" name="code" class="form-control" placeholder="6-digit code" maxlength="6" required autofocus>
                            </div>
                            <button type="submit" class="btn btn-primary mt-3 w-100">Verify</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}